
<style>

    body {
        background-color: #eee;
        color:#444;
    }

    .fa {
        color:#fff;
    }



</style>
<div class="container">
    <div class="row">
        <div ng-repeat="user in users track by $index" class="col-sm-12">
<br>
            <div class="row">
                <div class="col-xs-2" ng-class-odd="'col-xs-push-10'">
                    <a href=""><img title="{{user.user}}" src="{{user.imageUrl}}" class="img-thumbnail img-responsive img-circle" ng-class-even="'pull-right'" ng-class-odd="'pull-left'" style="width:70px;"></a>
                </div>
                <div class="col-xs-10" ng-class-odd="'col-xs-pull-2'">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            {{user.msg}}<br><br>
                            <span class="label label-info">{{ user.date | date:'h:mma' }}</span>
                        </div>
                    </div>
                </div><!--/col-->
            </div><!--/row-->

        </div><!--/col-->

    </div><!--/row-->

    <div class="row">

        <hr>

        <div class="col-sm-12">
            <div>
                <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)"  class="input-group" style="text-align:center; margin:0 auto;">
                    <input class="form-control input-lg" ng-model="text" type="text" placeholder="Escribe tu mensaje" >
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" type="submit" ng-disabled="!text">Enviar</button>
					</span>
                </form>
            </div>
        </div>

        <div class="clearfix"></div>

        <hr>

    </div>


</div><!--/container-->