
<style>

    body {
        background-color: #eee;
        color:#444;
    }

    .fa {
        color:#fff;
    }



</style>
<div class="container">
    <div class="row">
        <div ng-repeat="user in users track by $index" class="col-sm-12">
<br>
            <div class="row">
                <div class="col-xs-2" ng-class-odd="'col-xs-push-10'">
                    <a href="" ng-click="showUserModal($index)"><img title="{{user.user}}" src="{{user.imageUrl}}" class="img-thumbnail img-responsive img-circle" ng-class-even="'pull-right'" ng-class-odd="'pull-left'" style="width:70px;"></a>
                </div>
                <div class="col-xs-10" ng-class-odd="'col-xs-pull-2'">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            {{user.msg}}<br><br>
                            <span class="label label-info">{{ user.date | date:'h:mma' }}</span>
                        </div>
                    </div>
                </div><!--/col-->
            </div><!--/row-->

        </div><!--/col-->

    </div><!--/row-->

    <div class="row">

        <hr>

        <div class="col-sm-12">
            <div>
                <form ng-submit="submit()" class="input-group" style="text-align:center; margin:0 auto;">
                    <input class="form-control input-lg" ng-model="text" type="text" placeholder="Escribe tu mensaje" >
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" type="submit">Enviar</button>
					</span>
                </form>
            </div>
        </div>

        <div class="clearfix"></div>

        <hr>

    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 id="myModalLabel" class="text-center"></h1>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4"><img src="{{imageUrl}}" class="img-thumbnail img-responsive img-circle"></div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4 class="text-center"><i class="fa fa-fw fa-map-marker fa-2x"></i> {{city}}, {{college}}</h4>
                            <h4 class="text-center"><i class="fa fa-fw fa-envelope-o fa-2x"></i> {{email}}</h4>
                            <h4 class="text-center"><i class="fa fa-fw fa-user fa-2x"></i> {{username}}</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <button class="btn btn-lg btn-default center-block" data-dismiss="modal" aria-hidden="true">Okay!</button>
                </div>
            </div>
        </div>
    </div><!--/modal-->

</div><!--/container-->