

<style>
    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 780px;
    }
</style>


<google-map center="map.center"
            zoom="map.zoom"
            draggable="true"
            options="map.options"
            control="map.control">
    <markers models="map.markers" coords="'self'" options="'options'" isLabel="true">
    </markers>
</google-map>
<section class="padding-top-15 padding-bottom-15">
        <br><br>
        <div class="col-sm-12">
            <form class="form-signin" role="form">

            <div class="btn-group">
                <button class="btn btn-default btn-md dropdown-toggle"
                        type="button" data-toggle="dropdown">
                    {{cityselectedItem}}<span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    <li ng-repeat="city in cities"><a ng-click="cityitemselected(city.city)">{{city.city}}</a>

                </ul>
            </div>
            <div class="btn-group">
                <button class="btn btn-default btn-md dropdown-toggle"
                        type="button" data-toggle="dropdown">
                    {{collegeselectedItem}} <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    <li ng-repeat="college in colleges"><a
                            ng-click="collegeitemselected(college.college)">{{college.college}}</a></li>

                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-default btn-md dropdown-toggle"
                        type="button" data-toggle="dropdown" ng-click="colleges_selected(cityselectedItem)">Buscar universidades de {{cityselectedItem}} en el mapa</button>
            </div>
            <br><br>
            <div class="btn-group">
                <button class="btn btn-default btn-md dropdown-toggle"
                        type="button" data-toggle="dropdown" ng-click="students_selected(collegeselectedItem)">Buscar estudiantes en la universidad {{collegeselectedItem}}</button>
            </div>
        </form>

            <!-- 	<span class="mainDescription">overview &amp; stats </span>-->
        </div>



</section>

