<link rel="stylesheet" href="assets/css/style.css">
<body class="account" data-page="login">
<!-- BEGIN LOGIN BOX -->
<div class="container" id="login-block">
<br><br>
	<IMG SRC="assets/images/logoea.png" class="img-responsive center-block">

	<div class="row">

		<div class="col-sm-6 col-md-4 col-md-offset-4">

			<div class="account-wall">

				<i class="user-img icons-faces-users-03"></i>
				<form class="form-signin" role="form">

					<div class="append-icon">
						<input type="text" title="Se necesita un nombre de usuario" name="name" id="name" class="form-control form-white username" placeholder="Username" required ng-model="newUser.username">
						<i class="icon-user"></i>
					</div>
					<br>
					<div class="append-icon m-b-20">
						<input type="password"title="Se necesita un password" name="password" class="form-control form-white password" placeholder="Password" required ng-model="newUser.password">
						<i class="icon-lock"></i>
					</div>
					<form class="form" role="form">
					<button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left" ng-click="loginUser(newUser)">Login</button>
					</form>
					<br>
					<div class="login-options">
						<ul class="social-icons">
							<li>
								<a class="facebook" data-original-title="facebook" href='auth/facebook'>
								</a>
							</li>
							<li>
								<a class="twitter" data-original-title="Twitter" href='auth/twitter'>
								</a>
							</li>
						</ul>
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block ladda-button" data-style="expand-left" ng-click="enterChat()">Join chat e-Trips</button>
					<div class="clearfix">
						<p class="pull-left m-t-20"><a id="password" href="#">Se te olvidó tu contraseña?</a></p>
						<p class="pull-right m-t-20"><a href="#login/registration">Registrarse</a></p>
					</div>
				</form>
				<form class="form-password" role="form">
					<div class="append-icon m-b-20">
						<input type="password" name="password" class="form-control form-white password" placeholder="Password" required>
						<i class="icon-lock"></i>
					</div>
					<button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send Password Reset Link</button>
					<div class="clearfix">
						<p class="pull-left m-t-20"><a id="login" href="#">Already got an account? Sign In</a></p>
						<p class="pull-right m-t-20"><a href="user-signup-v1.html">New here? Sign up</a></p>
					</div>

				</form>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
					{{alert.msg}}
				</alert>

			</div>

		</div>
	</div>
	<p class="account-copyright">
		<span>Copyright © 2015 </span><span>THEMES LAB</span>.<span>All rights reserved.</span>
	</p>

</div>

</body>