<!-- start: REGISTRATION -->
<!-- BEGIN LOGIN BOX -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet"  href="assets/plugins/icheck/skins/all.css"/>
<body class="account separate-inputs boxed" data-page="signup" ng-controller="loginCtrl">
<div class="container" id="login-block">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="account-wall">
				<i class="user-img icons-faces-users-03"></i>
				<form class="form-signup"  role="form">

							<div class="append-icon">
								<input type="text" name="name" id="firstname" class="form-control form-white firstname" ng-model="newUser.name" placeholder="Nombre" required autofocus>
								<i class="icon-user"></i>
							</div>


							<div class="append-icon">
								<input type="text" name="username" id="lastname" class="form-control form-white lastname" ng-model="newUser.username" placeholder="Usuario" required>
								<i class="icon-user"></i>
							</div>

					<div class="append-icon">
						<input type="email" name="email" id="email" class="form-control form-white email" ng-model="newUser.email" placeholder="Email" required>
						<i class="icon-envelope"></i>
					</div>
					<div class="append-icon">
						<input type="password" class="form-control form-white password" ng-model="newUser.password" placeholder="Password" required>
						<i class="icon-lock"></i>
					</div>
					<div class="append-icon">
						<input type="password"  class="form-control form-white password2" ng-model="newUser.password" placeholder="Repite Password" required>
						<i class="icon-lock"></i>
					</div>
					<div class="append-icon">
						<input type="text" name="city" id="city" class="form-control form-white lastname" ng-model="newUser.city" placeholder="Ciudad de origen" required>
						<i class="icon-city"></i>
					</div>
					<br>
					<div class="append-icon">
						<input type="text" name="college" id="college" class="form-control form-white lastname" ng-model="newUser.college" placeholder="Nombre de tu universidad" required>
						<i class="icon-city"></i>
					</div>
					<div class="clip-radio radio-primary">
						<input type="radio" id="us-female" name="gender" value="Mujer" ng-model="newUser.gender">
						<label for="us-female">
							Mujer
						</label>
						<input type="radio" id="us-male" name="gender" value="Hombre" ng-model="newUser.gender">
						<label for="us-male">
							Hombre
						</label>
					</div>
					<div class="append-icon">
						<input type="text" name="phone" id="phone" class="form-control form-white lastname" ng-model="newUser.phone" placeholder="Telefono (Opcional)" required>
						<i class="icon-city"></i>
					</div>
					<br>
					<div class="user-edit-image-buttons">
						<span class="btn btn-azure btn-file"><span class="fileinput-new"><i class="fa fa-picture"></i> Elige imagen perfil</span>
							<input type="file" name="file" uploader-model="file">
						</span>

					</div>
					<button type="submit" id="submit-form" class="btn btn-lg btn-dark m-t-20" data-style="expand-left" ng-click="registerUser(newUser)">Registrar</button>

					<div class="clearfix">
						<p class="pull-right m-t-20"><a href="#login/signin">¿Ya tienes una cuenta? Logeate</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>


</div>
</body>
