<!-- start: PAGE TITLE -->
<!--
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE">{{ mainTitle }}</h1>
			<span class="mainDescription">There are many systems which have a need for user profile pages which display personal information on each member.</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
-->
<!-- end: PAGE TITLE -->
<!-- start: USER PROFILE -->
<body ng-controller="loginCtrl">
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
				<!-- start: USER TABSET -->

					<!-- start: TAB OVERVIEW -->

					<!-- end: TAB OVERVIEW -->
					<!-- start: TAB EDIT ACCOUNT -->

						<form action="#" role="form" id="form">
							<fieldset>
								<legend>
									Info Cuenta
								</legend>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Nombre Completo (*)
											</label>
											<input type="text" placeholder="Introduce tu nombre completo" ng-model="newUser.name" class="form-control" name="firstname">
										</div>
										<p style="color:red">	{{user.n}}</p>
										<div class="form-group">
											<label class="control-label">
												Usuario (*)
											</label>
											<input type="text" placeholder="Introduce un nombre de usuario" ng-model="newUser.username" class="form-control" name="lastname">
										</div>
										<p style="color:red">	{{user.u}}</p>
										<div class="form-group">
											<label class="control-label">
												Correo eletronico (*)
											</label>
											<input type="text" placeholder="Correo Electronico" ng-model="newUser.email" class="form-control" name="email">
										</div>
										<p style="color:red">	{{user.e}}</p>
										<div class="form-group">
											<label class="control-label">
												Password (*)
											</label>
											<input type="password" placeholder="Introduce tu password" ng-model="newUser.password"class="form-control" name="phone">
										</div>
										<p style="color:red">	{{user.p}}</p>
										<div class="form-group">
											<label class="control-label">
												Telefono (Opcional)
											</label>
											<input type="number" placeholder="Introduce Telefono" class="form-control" name="url" ng-model="newUser.phone">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="block">
												Genero (Opcional)
											</label>
											<div class="clip-radio radio-primary">
												<input type="radio" id="us-female" name="gender" value="Mujer" ng-model="newUser.gender">
												<label for="us-female">
													Mujer
												</label>
												<input type="radio" id="us-male" name="gender" value="Hombre" ng-model="newUser.gender">
												<label for="us-male">
													Hombre
												</label>
											</div>
										</div>


									</div>
								</div>
							</fieldset>

						</form>

					<!-- end: TAB EDIT ACCOUNT -->

					<!-- end: TAB PROJECTS -->
				<!-- end: USER TABSET -->
			<div class="row">
				<div class="col-md-8">
					<p>
						(*) Campos Obligatorios
						<br>
						Al hacer clic en Registrar, usted esta guardando el nuevo usuario en la base de datos.
					</p>
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary pull-right" type="submit" ng-click="registerUser(newUser)">
						Registrar <i class="fa fa-arrow-circle-right"></i>
					</button>
				</div>
			</div>
			</div>
		</div>
	</div>

</div>

</body>
<!-- end: USER PROFILE -->
