
<div class="col-sm-12">
    <br>
    <p style="font-family: arial, arial; font-size:12pt" align="justify">e-Trips es un servicio web dedicado al programa
        Erasmus, siendo su actividad principal la de establecer relacion entre los diferentes estudiantes.

        Actualmente se sitúa en una posición destacada en la programa Erasmus en España.
        <br><br>

        La fórmula del éxito es sencilla: centrarse en las necesidades de los estudiantes. Lograr que los estudiantes
        tengan una experiencia totalmente satisfactoria cuando comparten experiencias, vivencias y sensaciones.


        Por eso todos nuestros esfuerzos se vuelcan en conseguir un producto de máxima calidad y dotar a nuestra
        organización de los medios necesarios para ofrecer una red social de estudiantes comada y facil para gestionar
        el programa de Erasmus.

        <br><br>
        Los estudiantes que han depositado su confianza en nosotros son una prueba del éxito obtenido y nos estimulan a
        continuar mejorando y adaptando día a día nuestros servicios.
        <br><br>
        e-Trips es líder en las principales ciudades de España como son Barcelona y Madrid.

        <br><br>
        Si quieres ir de Erasmus, ven a e-Trips y ¡Compruébalo tú mismo!
        <br><br>
        Creadores de e-Trips:
    </p>

</div>
<img src="assets/images/alberto.png" class="img-thumbnail img-responsive img-circle" style="width:90px;">
<img src="assets/images/felipe-perfil.png" class="img-thumbnail img-responsive img-circle" style="width:90px; :0px;">
<img src="assets/images/cris-perfil.png" class="img-thumbnail img-responsive img-circle" style="width:90px; :0px;">
<img src="assets/images/manel-perfil.png" class="img-thumbnail img-responsive img-circle" style="width:90px; :0px;">
<img src="assets/images/javi-perfil.png" class="img-thumbnail img-responsive img-circle" style="width:100px; :0px;">


