<!-- start: PAGE TITLE -->
<!--
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE">{{ mainTitle }}</h1>
			<span class="mainDescription">There are many systems which have a need for user profile pages which display personal information on each member.</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
-->
<!-- end: PAGE TITLE -->
<!-- start: USER PROFILE -->
<body ng-controller="updateCtrl">
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
            <!-- start: USER TABSET -->

                    <form action="#" role="form" id="form">
                        <fieldset>
                            <legend>
                                Actualizar Cuenta
                            </legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Nombre Completo (*)
                                        </label>
                                        <input type="text" value="{{user.name}}" class="form-control" id="firstname" name="firstname" ng-model="user.name">
                                    </div>
                                    <p style="color:red">	{{user.n}}</p>
                                    <div class="form-group">
                                        <label class="control-label">
                                            Usuario (*)
                                        </label>
                                        <input type="text" value={{user.name}} class="form-control" id="lastname" name="lastname"  ng-model="user.username">
                                    </div>
                                    <p style="color:red">	{{user.u}}</p>
                                    <div class="form-group">
                                        <label class="control-label">
                                            Correo Electronico (*)
                                        </label>
                                        <input type="text" value={{user.email}} class="form-control" id="email" name="email"  ng-model="user.email">
                                    </div>
                                    <p style="color:red">	{{user.e}}</p>
                                    <div class="form-group">
                                        <label class="control-label">
                                            Password (*)
                                        </label>
                                        <input type="password" placeholder="Introduce tu password" class="form-control" name="password" id="password" ng-model="user.po">
                                    </div>
                                    <p style="color:red">	{{user.p}}</p>
                                    <div class="form-group">
                                        <label class="control-label">
                                           Repite Password (*)
                                        </label>
                                        <input type="password"  placeholder="Repite tu password" class="form-control" name="password" id="password2" ng-model="user.pr">
                                    </div>
                                    <p style="color:red">{{user.p}}</p>
                                    <div class="form-group">
                                        <label class="control-label">
                                           Ciudad (*)
                                        </label>
                                        <input type="text" placeholder="Ciudad de origen" value={{user.city}} class="form-control" id="city" name="city" ng-model="user.city">
                                    </div>
                                    <p style="color:red">{{user.ci}}</p>
                                    <div class="form-group">
                                        <label class="control-label">
                                           Universidad (*)
                                        </label>
                                        <input type="text" placeholder="Nombre de tu universidad" value={{user.college}} class="form-control" id="college" name="college" ng-model="user.college">
                                    </div>
                                    <p style="color:red">{{user.uni}}</p>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="block">
                                            Genero (*)
                                        </label>
                                        <div class="clip-radio radio-primary">
                                            <input type="radio" id="us-female" name="gender" value="Mujer" ng-model="user.gender">
                                            <label for="us-female">
                                                Mujer
                                            </label>
                                            <input type="radio" id="us-male" name="gender" value="Hombre" ng-model="user.gender">
                                            <label for="us-male">
                                                Hombre
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Telefono (Opcional)
                                            </label>
                                            <input type="text" placeholder="Introduce Telefono" value={{user.phone}} class="form-control" id="phone" name="phone" ng-model="user.phone">
                                        </div>
                                        <div class="user-edit-image-buttons">
						<span class="btn btn-azure btn-file">
                            <span class="fileinput-new"><i class="fa fa-picture"></i> Elige imagen perfil</span>
							<input type="file" name="file" uploader-model="file">
						</span>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </fieldset>

                    </form>

            <!-- end: USER TABSET -->
            <div class="row">
                <div class="col-md-8">
                    <p>
                        (*) Campos Obligatorios
                        <br>
                        Al hacer clic en Registrar, usted esta guardando el nuevo usuario en la base de datos.
                    </p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary pull-right" type="submit" ng-click="updateUser(user)">
                        Editar <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
<!-- end: USER PROFILE -->
