<!-- start: PAGE TITLE -->
<!--
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE">{{ mainTitle }}</h1>
			<span class="mainDescription">There are many systems which have a need for user profile pages which display personal information on each member.</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
-->
<!-- end: PAGE TITLE -->
<!-- start: USER PROFILE -->
<body ng-controller="updateCtrl">
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
            <!-- start: USER TABSET -->

            <form role="form" id="form">
                <fieldset>
                    <legend>
                        Actualizar Cuenta
                    </legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-signup" rol="form">
                                <label class="control-label">
                                    Nombre Completo (*)
                                </label>
                                <input type="text" value="{{user.name}}" name="name" class="form-control" id="firstname"
                                       name="firstname" ng-model="user.name" required/>
                            </div>
                            <p style="color:red"> {{user.n}}</p>

                            <div class="form-group">
                                <label class="control-label">
                                    Usuario (*)
                                </label>
                                <input type="text" value={{username.name}} name="username" class="form-control"
                                       id="lastname"
                                       name="lastname" ng-model="user.username" required/>
                            </div>
                            <p style="color:red"> {{user.u}}</p>

                            <div class="form-group">
                                <label class="control-label">
                                    Correo Electronico (*)
                                </label>
                                <input type="text" value={{user.email}} name="email" class="form-control" id="email"
                                       name="email"
                                       ng-model="user.email" required/>
                            </div>
                            <p style="color:red"> {{user.e}}</p>

                            <div class="form-group">
                                <label class="control-label">
                                    Password (*)
                                </label>
                                <input type="password" placeholder="Introduce tu password" class="form-control"
                                       name="password" id="password" ng-model="user.p1" required/>
                            </div>
                            <p style="color:red"> {{user.p}}</p>

                            <div class="form-group">
                                <label class="control-label">
                                    Repite Password (*)
                                </label>
                                <input type="password" placeholder="Repite tu password" class="form-control"
                                       name="password" id="password2" ng-model="user.p2" required/>
                            </div>
                            <p style="color:red">{{user.p}}</p>

                            <div class="form-group">
                                <label class="control-label">
                                    Debes seleccionar la ciudad y la universidad
                                </label>
                            </div>

                            <div class="btn-group dropup">
                                <button class="btn btn-blue btn-md dropdown-toggle"
                                        type="button" data-toggle="dropdown">
                                    {{cityselectedItem}} <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">
                                    <li ng-repeat="city in cities"><a ng-click="cityitemselected(city.city)">{{city.city}}</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="btn-group dropup">
                                <button class="btn btn-blue btn-md dropdown-toggle"
                                        type="button" data-toggle="dropdown">
                                    {{collegeselectedItem}}<span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">
                                    <li ng-repeat="college in colleges"><a
                                            ng-click="collegeitemselected(college.college)">{{college.college}}</a></li>

                                </ul>
                            </div>

                            <div class="form-group">
                                <br> <br>
                                <label class="control-label">
                                    Telefono (Opcional)
                                </label>
                                <input type="text" placeholder="Introduce Telefono" value={{user.phone}}
                                       class="form-control" id="phone" name="phone" ng-model="user.phone">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="block">
                                    Genero (*)
                                </label>

                                <div class="clip-radio radio-primary">
                                    <input type="radio" id="us-female" name="gender" value="Mujer"
                                           ng-model="user.gender">
                                    <label for="us-female">
                                        Mujer
                                    </label>
                                    <input type="radio" id="us-male" name="gender" value="Hombre"
                                           ng-model="user.gender">
                                    <label for="us-male">
                                        Hombre
                                    </label>
                                </div>

                                <div class="user-edit-image-buttons">
						<span class="btn btn-azure btn-file">
                            <span class="fileinput-new"><i class="fa fa-picture"></i> Elige imagen perfil</span>
							<input type="file" name="file" uploader-model="file">
						</span>

                                </div>
                            </div>


                        </div>
                    </div>
                </fieldset>

            </form>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                {{alert.msg}}
            </alert>
            <!-- end: USER TABSET -->
            <div class="row">
                <div class="col-md-8">
                    <p>
                        (*) Campos Obligatorios
                        <br>
                        Al hacer clic en Registrar, usted esta guardando el nuevo usuario en la base de datos.
                    </p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary pull-right" type="submit" ng-click="updateUser(user)">
                        Editar <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
<!-- end: USER PROFILE -->
